parameters:
	ignoreErrors:
		-
			message: '#^Method Flow\\ETL\\Adapter\\Doctrine\\Tests\\Context\\InsertQueryCounter\:\:log\(\) has parameter \$message with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Context/InsertQueryCounter.php

		-
			message: '#^Call to method indices\(\) on an unknown class Elasticsearch\\Client\.$#'
			identifier: class.notFound
			count: 2
			path: src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php

		-
			message: '#^Call to static method fromConfig\(\) on an unknown class Elasticsearch\\ClientBuilder\.$#'
			identifier: class.notFound
			count: 1
			path: src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php

		-
			message: '#^Caught class Elasticsearch\\Common\\Exceptions\\BadRequest400Exception not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php

		-
			message: '#^Caught class Elasticsearch\\Common\\Exceptions\\Missing404Exception not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php

		-
			message: '#^Method Flow\\ETL\\Adapter\\Elasticsearch\\Tests\\Context\\Elasticsearch7Context\:\:client\(\) has invalid return type Elasticsearch\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php

		-
			message: '#^Property Flow\\ETL\\Adapter\\Elasticsearch\\Tests\\Context\\Elasticsearch7Context\:\:\$client has unknown class Elasticsearch\\Client as its type\.$#'
			identifier: class.notFound
			count: 1
			path: src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php

		-
			message: '#^Call to an undefined method Flow\\ETL\\Adapter\\Elasticsearch\\Tests\\Context\\ElasticsearchContext\:\:loadRows\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchIntegrationTest.php

		-
			message: '#^Call to an undefined method Flow\\ETL\\Adapter\\Elasticsearch\\Tests\\Context\\ElasticsearchContext\:\:client\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchLoaderTest.php

		-
			message: '#^Class Flow\\ETL\\Adapter\\Parquet\\ParquetExtractor constructor invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 2
			path: src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetExtractorTest.php

		-
			message: '#^Unable to resolve the template type T in call to function array_values$#'
			identifier: argument.templateType
			count: 1
			path: src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetTest.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizerTest.php

		-
			message: '#^Cannot call method isDirectory\(\) on Flow\\Filesystem\\FileStatus\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration/AsyncAWSS3DestinationStreamTest.php

		-
			message: '#^Cannot call method isFile\(\) on Flow\\Filesystem\\FileStatus\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration/AsyncAWSS3DestinationStreamTest.php

		-
			message: '#^Cannot access property \$path on Flow\\Filesystem\\FileStatus\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration/AsyncAWSS3FilesystemTest.php

		-
			message: '#^Cannot call method isDirectory\(\) on Flow\\Filesystem\\FileStatus\|null\.$#'
			identifier: method.nonObject
			count: 11
			path: src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration/AsyncAWSS3FilesystemTest.php

		-
			message: '#^Cannot call method isFile\(\) on Flow\\Filesystem\\FileStatus\|null\.$#'
			identifier: method.nonObject
			count: 19
			path: src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration/AsyncAWSS3FilesystemTest.php

		-
			message: '#^Cannot call method isDirectory\(\) on Flow\\Filesystem\\FileStatus\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobDestinationStreamTest.php

		-
			message: '#^Cannot call method isFile\(\) on Flow\\Filesystem\\FileStatus\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobDestinationStreamTest.php

		-
			message: '#^Cannot access property \$path on Flow\\Filesystem\\FileStatus\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobFilesystemTest.php

		-
			message: '#^Cannot call method isDirectory\(\) on Flow\\Filesystem\\FileStatus\|null\.$#'
			identifier: method.nonObject
			count: 10
			path: src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobFilesystemTest.php

		-
			message: '#^Cannot call method isFile\(\) on Flow\\Filesystem\\FileStatus\|null\.$#'
			identifier: method.nonObject
			count: 18
			path: src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobFilesystemTest.php

		-
			message: '#^Method Flow\\Filesystem\\Bridge\\Azure\\Tests\\Integration\\AzureBlobServiceTestCase\:\:blobService\(\) should return Flow\\Azure\\SDK\\BlobService but returns Flow\\Azure\\SDK\\BlobServiceInterface\.$#'
			identifier: return.type
			count: 1
			path: src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobServiceTestCase.php

		-
			message: '#^Method Flow\\Bridge\\Symfony\\HttpFoundation\\Tests\\Integration\\FlowStreamedResponseTest\:\:sendResponse\(\) should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/FlowStreamedResponseTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with int will always evaluate to false\.$#'
			identifier: staticMethod.impossibleType
			count: 1
			path: src/cli/tests/Flow/CLI/Tests/Unit/Options/TypedOptionTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with string will always evaluate to false\.$#'
			identifier: staticMethod.impossibleType
			count: 1
			path: src/cli/tests/Flow/CLI/Tests/Unit/Options/TypedOptionTest.php

		-
			message: '#^Generator expects value type Flow\\ETL\\Tests\\Double\\Rows, Flow\\ETL\\Rows given\.$#'
			identifier: generator.valueType
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Double/FakeExtractor.php

		-
			message: '#^Method Flow\\ETL\\Tests\\Double\\FakeExtractor\:\:extract\(\) has invalid return type Flow\\ETL\\Tests\\Double\\Rows\.$#'
			identifier: class.notFound
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Double/FakeExtractor.php

		-
			message: '#^Property Flow\\ETL\\Tests\\Fixtures\\Example\:\:\$bad is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Fixtures/Example.php

		-
			message: '#^Property Flow\\ETL\\Tests\\Fixtures\\Example\:\:\$bar is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Fixtures/Example.php

		-
			message: '#^Property Flow\\ETL\\Tests\\Fixtures\\Example\:\:\$baz is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Fixtures/Example.php

		-
			message: '#^Argument of an invalid type list\<string\>\|false supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/FlowIntegrationTestCase.php

		-
			message: '#^Method Flow\\ETL\\Tests\\FlowIntegrationTestCase\:\:setupFiles\(\) has parameter \$path with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/FlowIntegrationTestCase.php

		-
			message: '#^Property Flow\\ETL\\Tests\\FlowIntegrationTestCase\:\:\$baseMemoryLimit \(string\|false\) is never assigned false so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/FlowIntegrationTestCase.php

		-
			message: '#^Cannot call method schema\(\) on Flow\\ETL\\Dataset\\Report\|null\.$#'
			identifier: method.nonObject
			count: 5
			path: src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php

		-
			message: '#^Cannot call method statistics\(\) on Flow\\ETL\\Dataset\\Report\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php

		-
			message: '#^Method Flow\\ETL\\Function\\ScalarFunctionChain\:\:exists\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Integration/Function/AllTest.php

		-
			message: '#^Method Flow\\ETL\\Function\\ScalarFunctionChain\:\:exists\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Integration/Function/AnyTest.php

		-
			message: '#^Cannot call method format\(\) on DateTimeInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Integration/PHP/Type/CasterTest.php

		-
			message: '#^Cannot call method saveXML\(\) on DOMDocument\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Integration/PHP/Type/CasterTest.php

		-
			message: '#^Function Flow\\ETL\\DSL\\array_get_collection invoked with 3 parameters, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ArrayGetCollectionTest.php

		-
			message: '#^Cannot access property \$firstChild on DOMElement\|null\.$#'
			identifier: property.nonObject
			count: 2
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributeValueTest.php

		-
			message: '#^Cannot access property \$firstChild on DOMElement\|null\.$#'
			identifier: property.nonObject
			count: 3
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributesCountTest.php

		-
			message: '#^Method Flow\\ETL\\Function\\ScalarFunctionChain\:\:domElementAttributesCount\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 3
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributesCountTest.php

		-
			message: '#^Cannot access property \$firstChild on DOMElement\|null\.$#'
			identifier: property.nonObject
			count: 2
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementValueTest.php

		-
			message: '#^Cannot access property \$firstChild on DOMElement\|null\.$#'
			identifier: property.nonObject
			count: 2
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Function/XPathTest.php

		-
			message: '#^Cannot access property \$lastChild on DOMElement\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Function/XPathTest.php

		-
			message: '#^Function Flow\\ETL\\DSL\\null_entry invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/GroupByTest.php

		-
			message: '#^Method Flow\\ETL\\Tests\\Unit\\PHP\\Type\\TypeDetectorTest\:\:test_logical_types\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeDetectorTest.php

		-
			message: '#^Method Flow\\ETL\\Tests\\Unit\\PHP\\Type\\TypeDetectorTest\:\:test_scalar_types\(\) has parameter \$expectedType with generic interface Flow\\ETL\\PHP\\Type\\Type but does not specify its types\: TType$#'
			identifier: missingType.generics
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeDetectorTest.php

		-
			message: '#^Class Flow\\ETL\\Adapter\\Doctrine\\DbalLoader constructor invoked with 3 parameters, 2 required\.$#'
			identifier: arguments.count
			count: 4
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/BatchSizeOptimizationTest.php

		-
			message: '#^Class Flow\\ETL\\Pipeline\\LinkedPipeline constructor invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/BatchSizeOptimizationTest.php

		-
			message: '#^Call to an undefined method Flow\\ETL\\Extractor\:\:isLimited\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/LimitOptimizationTest.php

		-
			message: '#^Cannot call method toString\(\) on Flow\\ETL\\PHP\\Value\\Uuid\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/UuidEntryTest.php

		-
			message: '#^Method Flow\\ETL\\Tests\\Unit\\Row\\Schema\\MetadataTest\:\:test_get_as\(\) has parameter \$type with generic interface Flow\\ETL\\PHP\\Type\\Type but does not specify its types\: TType$#'
			identifier: missingType.generics
			count: 1
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/MetadataTest.php

		-
			message: '#^Cannot call method item\(\) on DOMNodeList\<DOMNode\>\|false\.$#'
			identifier: method.nonObject
			count: 2
			path: src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ScalarFunctionTransformerTest.php
